<nav class="topnav">
  <div class="topnav-inner">
    <a href="index.html#bio">About</a>
    <a href="index.html#education">Education</a>
    <a href="publications.html#research">Publications</a>
    <a href="talks.html#talks">Talks &amp; Posters</a>
    <a href="software.html#software">Software</a>
    <a href="honors.html#honors">Honors &amp; Awards</a>
    <a href="teaching.html#teaching">Teaching</a>
    <a href="assets/Ozminkowski_CV.pdf" target="_blank" rel="noopener">CV</a>
  </div>
</nav>
